<!DOCTYPE html>
<html xmlns:th="http://www.theamleaf.org">
<head>
<meta charset="UTF-8">
<title>time card</title>
</head>
<body>
<h1> Enter a Card Id Number</h1>


<form th:action="@{/intime}" th:object="${ben}" method="post">
<p th:text="${msg}"></p>
<p th:text="${ms}"></p>
 <input type="text" placeholder="Enter a user id....." name="id">
<input type="text" placeholder="Enter a user username....." name="username">
  <button type="submit">出勤</button><br>
  </form>
<form th:action="@{/outtime}" th:object="${ben}" method="post">
<p th:text="${msgg}"></p>
 <input type="text" placeholder="Enter a user id....." name="id">
<input type="text" placeholder="Enter a user username....." name="username">
  <button type="submit">退勤</button><br>
 
</form>	


</body>
</html>